* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue;
}

/* HERO IMAGE */
.hero {
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 1440px;
  margin: 0 auto;
  background-image: url(./landing.png);
  background-position: center;
  background-size: cover;
}
.navigation {
  display: flex;
  /* border: 1px solid black; */
  width: 1440px;
  height: 100px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0 auto;
}
.hero-image {
  display: flex;
  /* border: 1px solid black; */
}
.action-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
  width: 392px;
  height: 22px;
  padding-left: 118px;
  padding-right: 118px;
  gap: 24px;
  font-size: 18px;
  color: white;
  font-style: bold;
}
.language {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.text-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  margin: 169px 411px 210px 411px;
  width: 618px;
  height: 314px;
  align-items: center;
  justify-content: center;
  color: white;
}
.pure {
  font-size: 80px;
  line-height: 100%;
  font-weight: 400;
}
.awaits {
  font-size: 250px;
  line-height: 100%;
  font-weight: 400;
}
.year {
  font-size: 64px;
  line-height: 100%;
  font-weight: 400;
}

/* LOCATION CONTAINER */
.location-container {
  display: flex;
  background-image: url(./location.png);
  background-blend-mode: luminosity;
  height: 500px;
  width: 100%;
  background-position: center;
  background-size: cover;
  color: #fdfdfecc;
  font-size: 25px;
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.card-1 {
  display: flex;
  background-image: url(./image.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 370px;
  border-radius: 40px;
}

.card-2 {
  display: flex;
  background-image: url(./image-2.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 370px;
  border-radius: 40px;
}
.card-3 {
  display: flex;
  background-image: url(./image-3.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 370px;
  border-radius: 40px;
}
.card-4 {
  display: flex;
  background-image: url(./image-4.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 252px;
  height: 370px;
  border-radius: 40px;
}
.text {
  display: flex;
  /* border: 1px solid black; */
  width: 250px;
  align-items: center;
  justify-content: center;
}

/* ROADMAP CONTAINER */
.roadmap-container {
  display: flex;
  flex-direction: column;
  background-image: url(./map.png);
  height: 902px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.frame-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-top: 50px;
}
.pack {
  color: #18181bb2;
  font-size: 20px;
}
.frame-body {
  display: flex;
  /* border: 1px solid black; */
  width: 1200px;
  height: 640px;
  justify-self: center;
  align-self: center;
  gap: 20px;
  position: relative;
  /* padding: 264px 120px 2px 120px; */
}
.left-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  width: 514px;
  height: 640px;
  gap: 20px;
}
.day-all {
  display: flex;
  justify-content: space-between;
  background-color: #eee9d9;
  border-radius: 120px;
  /* width: 513px; */
  /* height: 112px; */
  padding: 30px 30px 30px 0px;
}
.day-bg-2 {
  background-color: #8bb8c1cc;
}
.day-bg-3 {
  background-color: #aad8d7cc;
}
.day-bg-4 {
  background-color: #8bc0bdcc;
}
.day-bg-5 {
  background-color: #97cce0cc;
}
.info-1 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  /* width: 300px; */
  height: 29px;
  gap: 8px;
  font-size: 12px;
  color: #09090b;
  font-size: medium;
  padding-left: 30px;
  text-align: center;
}
.icon {
  display: flex;
  gap: 14px;
  font-size: 12px;
}
.day {
  display: flex;
  background-color: #f7f6f3;
  width: 52px;
  height: 52px;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/* HOVER
/* .destination-list-item { */
.destination-list-item {
  height: 112px;
  width: 514px;
  border: 4px solid white;
  display: flex;
  justify-items: center;
}

.day-all:hover {
  border: 5px solid white;
}
/* somebadeeeee help me */
.map_pin {
  position: absolute;
  left: 1000px;
  top: 90px;
  /* z-index: 10; */
  display: none;
}
.day-all:hover + .map_pin {
  display: block;
}
.right-container {
  display: flex;
  border: 1px solid black;
  width: 647px;
  height: 640px;
}

/* PRICE & FOOTER SECTION */
.price-footer {
  display: flex;
  flex-direction: column;
  background-image: url(./Price&Footer\ image.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1120px;
}
.title-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 1440px;
  height: 51px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 10px;
}
.choose {
  color: #18181bb2;
}

.card-container {
  display: flex;
  border: 1px solid black;
  width: 1200px;
  height: 527px;
  align-items: center;
  justify-content: center;
  margin: 79px 120px 389px 120px;
  gap: 24px;
}

.each-card {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  background-color: #fafbfc;
  width: 384px;
  height: 527px;
  /* padding: 39px 167px 31px 76px; */
  /* align-items: center; */
  /* justify-content: center; */
}

.header-card {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 384px;
  height: 92px;
  font-size: 18px;
  gap: 16px;
  padding: 24px;
}
.content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 384px;
  height: 435px;
  align-items: center;
  justify-content: space-around;
}

.details {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 336px;

  gap: 32px;
}
.button {
  display: flex;
  background-color: #a4d1e2;
  border-radius: 40px;
  width: 300px;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.price-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 1px solid black;
  width: 336px;
  height: 78px;
  gap: 10px;
}
.money {
  color: #303030;
  font-size: 40px;
}
.essentials {
  display: flex;
  color: #919191;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  height: 27px;

  gap: 10px;
}
.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6972b5;
  width: 91px;
  height: 27px;
  border-radius: 10px;
  color: white;
  margin-left: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 180px;
  gap: 16px;
  font-size: smaller;
  /* margin: 122px 22px 133px 22px; */
}
.check {
  display: flex;
  flex-direction: row;
}
.footer-section {
}
